.container {
  //transition: background-color 0.2s, color 0.2s;
}
header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-form {
    box-sizing: border-box;
    background: #c9c9c9;
    padding-left: 10px;
    width: 280px;
    height: 50px;
    border-radius: 8px;
    border: none;
  }
  .type-select {
    box-sizing: border-box;
    background-color: #7272ff;
    margin-left: 10px;
    color: white;
    padding-left: 10px;
    width: 80px;
    height: 50px;
    border-radius: 8px;
    border: none;
  }
  input:focus {
    outline: none !important;
  }
  select:focus {
    outline: none !important;
    //border-bottom-left-radius: 0;
    //border-bottom-right-radius: 0;
  }
  select:hover, button:hover {
    cursor: pointer;
  }
