@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

body {
  margin: 0;
  padding: 0;
  color: black;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
  transition: background-color 0.2s, color 0.2s;
}

@import "./header";
@import "./pokemonCards";
@import "./modal";
@import "./darkTheme";

@media (max-width: 1050px) {
  .switch {
    position: relative;
    top: auto;
    right: auto;
    height: 60px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 30px; 
  }
}

